* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
    font-family: "Arial", sans-serif;
    font-size: medium;
    font-weight: normal;
    line-height: normal;
	color: #111111;

	margin: 0;
	padding: 0;
}

p{
  padding: 10px;
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header{
	background-color: #5e8b53;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}

.main-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section {
  width: 48%;
  margin: 0;
  
}

.section-list {
  list-style: none;
  padding-left: 10px;
}

.section-item {
  position:relative;
  padding-left: 20px;
}

.section-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background-color: #5e8b53;
  border-radius: 50%;
}

.section span {
  color: #5e8b53;
  font-weight: bold;
}

.section-profile-title {
  color: #5e8b53;
  text-align: end;
  text-transform: uppercase;
}

.section-profile-logo {
  height: 200px;
  border-radius: 50%;
  margin-top: 10px;
}
.nav-list{
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.nav-link{
  transition: 0.3s;
  padding: 0 20px;
  line-height: 50px;
  color:#ffffff; text-decoration:none
}

.section-title{
  color: #5e8b53;
  margin: 0;
  text-align: center;
}

.panel{
  border: 2px solid #5e8b53;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.project-link {
    color: #5e8b53;
    padding-left: 10px;
}

.contact-link {
    color: #5e8b53;
    text-decoration: none;
}

.footer{
  margin-top: auto;
  height: 50px;

  background-color: #5e8b53;
  color: #ffffff;	
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.github{
  color: #ffffff;
  text-decoration:none;
  margin: 10px;
}

.rss {
  vertical-align: middle;
  margin: 10px;
  width: 121px;
  height: 50px;
  background-image: url('assets/rs-school-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

a:visited	{color: #dfceba; text-decoration:none}
a:hover		{color:#9eac79; text-decoration:underline}
a:active	{color:#ffffff; text-decoration:underline}
input:hover	{border:2px solid #111111}